@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Extended+Text&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: whitesmoke;

}

body{
	overflow-x: hidden;
}


@keyframes animate{
  0% {transform: scale(1);
  }
  100% {transform: scale(1.1);} 
  }



.menu {
	font-family: 'arial', bold;
	font-weight: 400;
	color: black;
	font-size: 1rem;
	width: 1500px;
	display: block;
	margin: 0px auto;
	padding: 0 0%!important;
	}

.menu ul{
	padding: 0;
	list-style-type: none;
	font-family: 'Libre Barcode 39 Extended Text', cursive;
	font-weight: 400;
	font-size: 4rem ;
	text-decoration:none;
	
}
li :hover, li :link, li :visited {
	color: white!important;
	text-decoration:none;
}

.texto {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
    justify-content: center;
	font-family: 'arial', bold;
	font-weight: 400;
	color: black;
	font-size: 1rem;
	background-color: whitesmoke;
	opacity: 0.6;
}

.texto p{ 
	width: 50% ;
	font-family: 'arial', bold;
	font-weight: 300px;
	color: black;
	background-color: whitesmoke;
	opacity: 1;
   }

.form {
	max-width: 30%;
	font-family: 'arial', bold;
	font-weight: 100;
	color: black;
	font-size: 1rem;
	background-color: whitesmoke;
	display: flex;
	align-items: center;
    justify-content: center;
	opacity: 1;
}
.form2 {
padding: 0 30%;
}

.form .formContent {
color: darkred;
opacity: 1;
}


.home  {   
	list-style-type: none;
	margin: 0;
	padding: 0;
	color: whitesmoke;
	font-family: 'Libre Barcode 39 Extended Text', cursive;
    font-weight: 400;
    font-size: 4rem ;
    display: flex;
    align-items: center;
    justify-content: center;
}


h1 {
	margin: 0;
	padding: 0;
	color: whitesmoke;
	font-family: 'Libre Barcode 39 Extended Text', cursive;
    font-weight: 400;
    font-size: 7rem!important ;
    display: flex;
    align-items: center;
	align-content: center;
    justify-content: center;
}

h2 {
	margin: 0;
	padding: 0;
	color: whitesmoke;
	font-family: 'Libre Barcode 39 Extended Text', cursive;
    font-weight: 400;
    font-size: 4rem!important ;
    display: flex;
    align-items: center;
    justify-content: center;
}

h3 {
	margin: 0;
	padding: 0;
	color: darkred;
	font-family: 'arial', bold;
    font-weight: 400;
    font-size: 2rem ;
    display: flex;
    align-items: center;
    justify-content: center;
}

h4 {
	margin: 0;
	padding: 0;
	color: whitesmoke;
<<<<<<< HEAD
	font-family: 'arial', bold;
    font-weight: 400;
    font-size: 2rem!important ;
    display: flex;
=======
	font-family: 'arial', bold
    font-weight: 400;
    font-size: 2rem!important ;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
	font-family: 'arial', bold
	font-weight: 400;
	font-size: 1.5rem!important;
	display: flex;
>>>>>>> 0daf32bc3cd88e5660bba7e232035552917f718c
    align-items: center;
    justify-content: center;
}

footer {
	font-family: 'arial', bold;
	font-weight: 400;
	font-size: 1.5rem!important;
	display: flex;
}

footer :hover, footer :visited,footer :link {
	color: white;
	text-decoration:none;

}

#flyer {
    text-align: center;
    animation-name: animate; 
    animation-duration: 10s; 
    animation-timing-function: linear; 
    animation-iteration-count: 1;
    animation-delay: 1; 
    animation-fill-mode: both;
	padding: 0 30%
<<<<<<< HEAD
}

.slides {
	padding: 0 20%!important
	
=======
>>>>>>> 0daf32bc3cd88e5660bba7e232035552917f718c
}

.slides {
	padding: 0 20%!important
	
}


#flyer > img {
	max-width: 75%;
	max-height: 75%;
}

#tourGrid {
	display: grid;
    grid-template-columns:  50% 50%;
    grid-template-rows: 50% 50%;
    grid-area: 1 / 1 / span 2 / span 2;
    background-color: rgba(255, 255, 255,0.25);
    padding: 10px;
    align-items: center;
    justify-content: center;
    border-color: whitesmoke;
    border-top-width: 5rem;
    border-right-width: 5em;
    border-bottom-width: 5rem;
    border-left-width: 5rem;
    margin: auto
}

#fotoGrid {
	display: grid;
    grid-template-columns:  50% 50%;
    grid-template-rows: 50% 50%;
    grid-area: 1 / 1 / span 2 / span 2;
    background-color: rgba(255, 255, 255,0.25);
    padding: 10px;
    align-items: center;
    justify-content: center;
    border-color: whitesmoke;
    border-top-width: 5rem;
    border-right-width: 5em;
    border-bottom-width: 5rem;
    border-left-width: 5rem;
    margin: auto
}

#tourGrid > div > img {
	max-width: 100%;
	max-height: 100%;
	display: block;
	opacity: 1;
}


#fotoGrid > div > img {
	max-width: 100%;
	max-height: 100%;
	display: block;
	opacity: 1;
}


@media (max-width: 400px) {
	body {
	padding: 0;
	} 
	.menu {
		width: 400px!important;
	}
	header h1 {
		font-size: 4rem !important;
	}
  }
  
